{% extends 'base.html' %}
{% block content %}
    <section class="ensino-section">
        <h2>Ensino</h2>
        <p>Listagem de disciplinas oferecidas pela professora:</p>
        <ul>
            <li>
                <strong>Curso:</strong> Introdução à Programação
                <p>Este curso aborda os fundamentos de lógica de programação e estruturas de controle.</p>
                <a href="https://exemplo.com">Mais informações</a>
            </li>
            <li>
                <strong>Curso:</strong> Desenvolvimento Web
                <p>Ensina como criar páginas e aplicativos web usando HTML, CSS e JavaScript.</p>
                <a href="https://exemplo.com">Acesse o material do curso</a>
            </li>
            <li>
                <strong>Curso:</strong> Introdução à Programação
                <p>Este curso aborda os fundamentos de lógica de programação e estruturas de controle.</p>
                <a href="https://exemplo.com">Mais informações</a>
            </li>
            <li>
                <strong>Curso:</strong> Desenvolvimento Web
                <p>Ensina como criar páginas e aplicativos web usando HTML, CSS e JavaScript.</p>
                <a href="https://exemplo.com">Acesse o material do curso</a>
            </li>
            <!-- Você pode adicionar mais cursos aqui -->
        </ul>
    </section>
{% endblock %}

