{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="home-section">
        <!-- Contêiner único para foto e biografia -->
        <div class="profile-container">
            <img src="{% static 'imagens/perfil.jpg' %}" alt="Foto de perfil">
            <div class="bio">
                <h2>Patrícia Marciano de Oliveira</h2>
                <p><h4>Mestra em Novas Tecnologias Digitais na Educação, na Unicarioca (2019). Cursa Licenciatura em Pedagogia. Pós em: Educação Especial e Inclusiva, Neuropsicopedagogia (2021), Orientação Educacional (2015); Educação a Distância (2012); Administração e Supervisão Escolar (2010). Licenciada em Informática pela Universidade do Grande Rio (2008). Atualmente é professora de Informática Educativa da Prefeitura Municipal de Duque de Caxias, Especialista em Educação na Secretaria de Educação de Magé. Professora bolsista pela UNIRIO (atuando no NAI (Núcleo de Acessibilidade e Inclusão) pelo programa (CECIERJ) da Fundação Centro de Educação a Distância do Estado do Rio de Janeiro: Apoio a melhoria das Escolas da Rede Pública. Tem experiência na área de Educação, com ênfase em Tecnologia da Educação com foco em Alfabetização, Educação Antirracista e Inclusiva . </h4></p>
            </div>
        </div>
    </section>
    <section class="projetos-section">
        <h2>Galeria deFotos</h2>
        <div class="carousel">
            <!-- Espaços para 10 imagens no carrossel -->
            {% for i in projetos %}
                <div class="carousel-item">
                    <img src="{% static 'imagens/projeto' %}{{ i }}.jpg" alt="Projeto {{ i }}">
                </div>
            {% endfor %}
        </div>
        <!-- Modal para a sobreposição -->
        <div id="image-overlay" class="overlay">
            <img id="overlay-img" src="" alt="Imagem ampliada">
        </div>

    </section>
    
{% endblock %}
