{% extends 'base.html' %}
{% block content %}
    <section class="publicacoes-section">
        <h2>Publicações</h2>
        <ul>
            <!-- Publicação 1 -->
            <li>
                <div class="video-container">
                    <strong>2023:</strong> Aula 1: Ligar e Desligar e Assuntos Básicos
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3xavgf2y0hQ" 
                            title="Aula 1: Ligar e Desligar e Assuntos Básicos" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </div>
            </li>
            <!-- Publicação 2 -->
            <li>
                <div class="video-container">
                    <strong>2022:</strong> Título da Publicação 2
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EXEMPLO_DO_ID" 
                            title="Título da Publicação 2" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </div>
            </li>
             <!-- Publicação 3 -->
             <li>
                <div class="video-container">
                    <strong>2022:</strong> Título da Publicação 2
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EXEMPLO_DO_ID" 
                            title="Título da Publicação 2" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </div>
            </li>
        </ul>
    </section>
{% endblock %}
